* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

@font-face {
font-family: 'DIN Pro Condensed Medium';
src: url(../fonts/DINPro-CondensedMedium.eot');
src: url('../fonts/DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
url('../fonts/DINPro-CondensedMedium.woff') format('woff'),
url('../fonts/DINPro-CondensedMedium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'DIN Pro Condensed Bold';
src: url('../fonts/DINPro-CondensedBold.eot');
src: url('../fonts/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/DINPro-CondensedBold.woff') format('woff'),
url('../fonts/DINPro-CondensedBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


.wrap {
	margin: 0px 354px;
}

.top_line {
	height: 83px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_together {
	background: #F8F8F8;
	box-shadow: 0px 4px 50px rgb(104 95 95 / 25%);
}

.top_line_block {

}

.top_line_left {
	display: flex;
	align-items: center;
}

.separator {
	width: 32px;
	height: 0px;
	left: 632px;
	top: 31px;
	border: 1px solid #EDEDED;
	transform: rotate(90deg);
}

.logo_title {
	font-size: 16px;
}

.top_line_right {
	display: flex;
}

.header_phone {
	margin-right: 76px;
	font-size: 18px;
}

.header_contact {
	display: flex;
}

.header_email {
	font-size: 18px;
}

.header_contact_left {
	display: flex;
}

.icon_phone, .icon_sms {
	padding-right: 10px;
}

.header_contact_right {
	display: flex;
}

.navbar_title {
	text-decoration: none;
	color: #000;
}

.navbar_block {
	display: flex;
}

.navbar_list {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.navbar_block {
	padding: 0px 40px;
}

.navbar {
	padding-top: 20px;
	padding-bottom: 19px;
	display: flex;
  justify-content: center;
  list-style-type: none;
  background: #F8F8F8;
	box-shadow: 0px 4px 50px rgba(104, 95, 95, 0.25);
}

.navbar_img {
	margin-right: 11px;
}

.background {
	background: url(../img/home.png);
	height: 835px;
	position: relative;
}

.home_title {
	font-size: 90px;
	line-height: 90px;
	color: #fff;
	font-family: 'DIN Pro Condensed Bold';
	src: url('../fonts/DINPro-Bold.eot');
	src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DINPro-Bold.woff') format('woff'),
	url('../fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.home_content {
	padding-top: 80px;
}

.services {

}

.background_left {
	position: absolute;
	width: 1072px;
	height: 348px;
	bottom: 0;
	background: rgba(41, 41, 41, 0.5);
}

.background_right {
	height: 504px;
	width: 875px;
	background: #357AA9;
	z-index: 5;
	position: absolute;
	right: 0;
}

.background_right:before {
	border-top: 5px solid #FFC620;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 51px;
}

.background_right:before {
	border-left: 5px solid #FFC620;
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: 0;
  bottom: 88%;
  width: 51px;
}

.feedback {
	z-index: 10;
	padding-top: 39px;
	padding-left: 41px;
}

.feedback_title_one {
	color: #fff;
	font-size: 35px;
	line-height: 34px;
}

.feedback_title_two {
	color: #fff;
	font-size: 16px;
	padding-bottom: 4px;
	line-height: 34px;
}

.feedback_title_block {
	display: flex;
}

.feedback_name {
	margin-top: 11px;
}

.feedback_input {
	padding: 8px 197px 8px 15px;
	width: 212px;
	height: 50px;
	outline: none;
	font-size: 16px;
	margin-top: 2px;
}

.home_title_small {
	color: #fff;
	font-size: 25px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: normal;
	line-height: 46px;
}

.feedback_label {
	color: #fff;
	line-height: 34px;
}

.btn_send {
	width: 155px;
	height: 50px;
	background: #FFC620;
	box-shadow: 0px 10px 20px #22628D;
	margin-top: 32px;
	outline: none;
	border: none;
	font-weight: 700;
	font-size: 13px;
}


.form_policy {
	color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.form_policy_block {
	margin-top: 18px;
	display: flex;
	align-items: center;
}

.form_policy_checkbox {
	width: 21px;
	height: 21px;
	background-color: yellow;
	padding-right: 17px;
}

.b345 {
	padding-right: 17px;
}

.form_policy_checkbox:checked:after {
	background-color: red;
}

.services_item {
}

.services_col1, .services_col2 {
	display: flex;
}

.services_title {
	color: #fff;
	font-size: 16px;
}

.installation_title {
	font-family: 'DIN Pro Condensed Bold';
	margin-top: 84px;
	font-size: 60px;
	font-weight: 700;
	line-height: 70px;
}

.installation_content {
	max-width: 1171px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#installation {
	padding-bottom: 75px;
}

.install_img {
	position: relative;
	margin-top: 60px;
	width: 357px;
	height: 293px;
}

.install_img:first-child {
	padding-left: 0px;
}

.install_img:before {
	content: " ";
  display: block;
  background-color: #357AA9;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 2px;
  height: 60px;
}

.install_img:after {
	content: " ";
  display: block;
  background-color: #357AA9;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 60px;
  height: 2px;
}

.table_info_title {
	font-size: 18px;
	margin-left: 10px;
}

.rectangle_wrap {
	width: 194px;
	height: 70px;
	background-color: #fff;
	position: absolute;
	top: 87%;
  left: -2%;
  text-align: center;
}

.rectangle_wrap:before {
	content: " ";
  display: block;
  background-color: #FFC620;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100px;
  height: 2px;
}

.rectangle_wrap:after {
	content: "";
  display: block;
  background-color: #FFC620;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 2px;
  height: 74px; 
}

.rectanle:before {
	content: "";
  display: block;
  background-color: #FFC620;
  position: absolute;
  left: -8px;
  bottom: -35px;
  width: 100px;
  height: 2px;
}

.rectangle_title {
	font-family: 'DIN Pro Condensed Bold';
	line-height: 70px;

  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.ceiling_item {
	display: flex;
	align-items: center;
	margin-left: 11px;
	margin-top: 32px;
}

.ceiling_item_services {
	padding: 11px;
	background: linear-gradient(140.58deg, #F9FBFF -32.14%, #EEF1F5 102.14%);
}

.ceiling_content {
	display: flex;
}

.ceiling_item:first-child {
	margin-left: 0;
}

.ceiling_content_item {
	background: #357AA9;
	width: 367px;
	height: 155px;
}

.ceiling_content_block1 {
	margin-top: 33px;
}

.ceiling_content_item_title {
	margin-top: 12px;
	margin-left: 18px;
	display: block;
	font-size: 22px;
	line-height: 20px;
	color: #fff;
}

.ceiling_content_item_subtitle {
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	display: block;
	margin-left: 18px;
	margin-top: 9px;
}

.ceiling_title {
	margin-left: 10px;
}

.ceiling_content_item_img {
	padding: 12px;
	background-color: #fff;
	margin-top: 17px;
	margin-left: 15px;
}

.ceiling_content_block2 {
	margin-top: 20px;
}

.ceiling_content_item2 {
	background: #357AA9;
	width: 367px;
	height: 179px;
	z-index: 5;
}

.ceiling_two_blocks {
	display: flex;
	position: relative;
	z-index: 10;
}

.p20 {
	margin-left: 20px;
}

.ceiling_img {
	top: -100px;
	z-index: 2;
}

#ceiling {
	display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.ceiling_left {
	max-width: 685px;
	margin-top: 75px;
}


.table_photo {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

td {
	border: 1px solid #000;
}

.table_table {
	width: 100%;
	margin-top: 30px;
}

.cell_td, .cell_tr {
	font-family: 'DIN Pro Condensed Bold';
	font-size: 24px;
	line-height: 30px;
	height: 67px;
	padding-left: 20px;
	border: none;
	background-color: #fff;
}

.cell_tr {
		text-align: center;
}

.table_item {
	background-color: #fff;
	height: 52px;
	padding-left: 20px;
	font-size: 16px;
	line-height: 45px;
	border: none;
}

.table_item_w {
	height: 52px;
	padding-left: 20px;
	font-size: 16px;
	line-height: 45px;
	border: none;
	border: none;
}

#table {
	background-color: #F8F8F8;
}

.table_item_price {
	text-align: center;
}



.table_item_price {
	border: none;
}

.table_item_price_w {
	background-color: #fff;
	text-align: center;
	border: none;
}

.ceiling_content{
	right: 0;
}

.ceiling_img_l {
	position: absolute;
	left: 0;
	width: 872px;
	height: 628px;
	flex: 2;
}

.ceiling_inform {
	display: flex;
}

.ceiling_o {
	display: flex;
}

.table_item_block {
	display: flex;
	align-items: center;
	margin-top: 32px;
}

.table_content_item_img {
	padding: 12px;
	background-color: #fff;
}

#window {
	display: flex;
	flex-wrap: wrap;

}

.window_right {
	padding-right: 10px;
}

.installation_title_celing {
	font-family: 'DIN Pro Condensed Bold';
	margin-top: 10px;
	font-size: 60px;
	font-weight: 700;
	line-height: 70px;
	padding-bottom: 20px;
}